.features-list,
.our-work-list,
.our-team-list {
    display: flex;
    
    &-item:not(:last-child) {
       margin-right: 30px; 
    }
}

  
.our-work-list-item {
  position: relative;
}
.work-decription {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
color: rgba(255, 255, 255, 1);
background-color: rgba(47, 48, 58, 0.8);
padding: 27px 82px;
position: absolute;
width: 100%;
  bottom: 0;
  
}



.features { 
  padding-top: 94px;
  padding-bottom: 94px;
  &-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
  &-icon {
  width: 70px;
  height: 70px; 
     &-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
}
  &-list-item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121; 
 .features-list &{
  margin-bottom: 10px;
  margin-top: 0px;
  max-width: 270px;
}
      
  } 
}



/*
.features-icon {
  width: 70px;
  height: 70px; 
  &-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
}

.features-list-item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121; 
}

.features-list .features-list-item-name {
  margin-bottom: 10px;
  margin-top: 0px;
  max-width: 270px;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
.features { 
  padding-top: 94px;
  padding-bottom: 94px;
}

*/