.link {
    text-decoration: none;
  }
  html {
    box-sizing: border-box;
  }
  
  .list {
    list-style: none;
  }
  h1,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  body {
    font-family: $main-font;
  }